---
title: a page for You
layout: base.njk
---

<div class="container">
      <h1>This is a page for Jamstack</h1>
      <div class="vibe">You Are Great!</div>
      <div class="love">💓</div>
</div>
<script src="/js/vibe.js"></script>